<!DOCTYPE html>
<html>

   <head>
      <title>Request Header Parser Microservice</title>
      <link rel="shortcut icon" href="https://cdn.glitch.com/e10e17c0-aa15-4c2f-a1cd-735fb83c3fc9%2Fitachi.png?1499176643429" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
         <h1>Request Header Parser</h1>
         <h3>API service that returns IP address, browser language and system software info in JSON format.</h3>
         <h4>
           Usage: <a href="https://request-header-parser-sid.glitch.me/api/whoami">https://request-header-parser-sid.glitch.me/api/whoami</a>
        </h4>
        <h4>
          Response: {"ipaddress":"47.9.13.35","language":"en-US","software":"Windows NT 10.0; Win64; x64"}
        </h4>
      </div>
   </body>

</html>
